<hr>



<form id="searchForm" class="form">

  <h2>Bike Search</h2>

  <div class="form-group">

    <label>Category</label>
    <select class="form-control" ng-model="search.bikeCategory" >
      <option value="">All</option>
      <option ng-repeat="bike in auth.bikeList | unique : 'bikeCategory'" >{{bike.bikeCategory}}</option>
    </select>

    <!-- <span class="input-group-btn">
        <button type="button" ng-click="search.bikeCategory = undefined" class="btn btn-default">
        <span class="glyphicon glyphicon-trash"></span>
        </button>
    </span> -->

  </div>

  <div class="form-group">
    <label>Make</label>
    <select class="form-control" ng-model="search.bikeMake" >
      <option value="">All</option>
      <option ng-repeat="bike in auth.bikeList | unique : 'bikeMake'" >{{bike.bikeMake}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Model</label>
    <select class="form-control" ng-model="search.bikeModel">
      <option value="">All</option>
      <option ng-repeat="bike in auth.bikeList | unique : 'bikeModel'" >{{bike.bikeModel}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Size</label>
    <select class="form-control" ng-model="search.bikeSize" >
      <option value="">All</option>
      <option ng-repeat="bike in auth.bikeList | unique : 'bikeSize'" >{{bike.bikeSize}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Date</label>
    <select class="form-control" ng-model="search.dates" >
      <option value="">All</option>
      <option ng-repeat="date in auth.resList | unique : 'dates'" >{{date.resDate}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Search</label>
    <input class="form-control" ng-model="search.searchTags" ></input>
  </div>

  <div class="form-group">
    <label>Clear</label>
    <button type="button" class="btn btn-sm btn-danger form-control" ng-click="search = undefined"><span class="glyphicon glyphicon-trash"></span>
</button>
  </div>

</form>

<div id="bikeDisplay" class="row" ng-repeat="cycle in auth.bikeList | filter:search">
  <a href="#">
    <div class="bikeBox">
      <div><img src={{cycle.imageUrls[0]}} alt="bike"/></div>
      <div>{{cycle.bikeMake}}  {{cycle.bikeModel}} <span>Availability</span></div>
    </div>
  </a>
</div>

<hr>


 <!-- <h2>Bike search with select/deselect tags</h2>
 <form class="form">

   <div class="form-group col-sm-2" style="padding:0;">
     <label>Category</label>
     <ui-select ng-model="test.selected.bikeCategory" theme="bootstrap">
       <ui-select-match>{{$select.selected.bikeCategory}}</ui-select-match>
       <ui-select-choices repeat="item in test.bikeList |unique : 'bikeCategory' | filter: {bikeCategory: $select.search}">
         <div ng-bind-html="item.bikeCategory | highlight: $select.search"></div>
       </ui-select-choices>
     </ui-select>
   </div>

   <div class="form-group col-sm-2" style="padding:0;">
     <label>Category</label>
     <ui-select class="form-control" multiple ng-model="test.cycle.bikeCategory" theme="bootstrap" ng-disabled="test.disabled" close-on-select="true" title="Choose a Bike">
       <ui-select-match placeholder="Category">{{$item.bikeCategory}}</ui-select-match>
       <ui-select-choices repeat="bike.bikeCategory as bike in test.bikeList | propsFilter: {bikeCategory: $select.search, bikeMake: $select.search, bikeModel: $select.search, bikeSize: $select.search,}">
         <div ng-bind-html="bike.bikeCategory | highlight: $select.search"></div>
       </ui-select-choices>
     </ui-select>
     <p>Selected: {{test.cycle.bikeCategory}}</p>
   </div>

    <div class="form-group col-sm-2" style="padding:0;">
      <label>Make</label>
       <ui-select class="form-control" multiple ng-model="test.cycle.bikeMake" theme="bootstrap" ng-disabled="test.disabled" close-on-select="true" title="Choose a Bike" margin="50px">
         <ui-select-match placeholder="Make">{{$item.bikeMake}}</ui-select-match>
         <ui-select-choices repeat="bike.bikeMake as bike in test.bikeList">
           <div ng-bind-html="bike.bikeMake | highlight: $select.search"></div>
         </ui-select-choices>
       </ui-select>
       <p>Selected: {{test.cycle.bikeMake}}</p>
    </div>

    <div class="form-group col-sm-2" style="padding:0;">
      <label>Model</label>
       <ui-select class="form-control" multiple ng-model="test.cycle.bikeModel" theme="bootstrap" ng-disabled="test.disabled" close-on-select="true" title="Choose a Bike">
         <ui-select-match placeholder="Model">{{$item.bikeModel}}</ui-select-match>
         <ui-select-choices repeat="bike.bikeModel as bike in test.bikeList">
           <div ng-bind-html="bike.bikeModel | highlight: $select.search"></div>
         </ui-select-choices>
       </ui-select>
       <p>Selected: {{test.cycle.bikeModel}}</p>
    </div>

    <div class="form-group col-sm-2" style="padding:0;">
      <label>Size</label>
      <ui-select class="form-control" multiple ng-model="test.cycle.bikeSize" theme="bootstrap" ng-disabled="test.disabled" close-on-select="true" title="Choose a Bike">
       <ui-select-match placeholder="Size">{{$item.bikeSize}}</ui-select-match>
       <ui-select-choices repeat="bike.bikeSize as bike in test.bikeList">
         <div ng-bind-html="bike.bikeSize | highlight: $select.search | propsFilter: {bikeCategory: $select.search, bikeMake: $select.search, bikeModel: $select.search, bikeSize: $select.search} | unique : 'bikeCategory'
"></div>
       </ui-select-choices>
     </ui-select>
     <p>Selected: {{test.cycle.bikeSize}}</p>
   </div>

   <div class="form-group col-sm-1" style="padding:0;">
     <label>Clear</label>
     <button type="button" class="btn btn-sm btn-danger form-control" ng-click="test.clearSearch()">Clear</button>
   </div>

 </form>

<hr>

 <table id="searchTextResults">
   <tr>
     <th>Category</th>
     <th>Make</th>
     <th>Model</th>
     <th>Size</th>
     <th>Object</th>
   </tr>
   <tr ng-repeat="bk in test.bikeList | filter:$select.search">
     <td>{{bk.bikeCategory}}</td>
     <td>{{bk.bikeMake}}</td>
     <td>{{bk.bikeModel}}</td>
     <td>{{bk.bikeSize}}</td>
     <td>{{bk}}</td>
   </tr>
 </table>

 <hr> -->
