<div class="modal-header">

  <div class="modalClose pull-right">
    <button class="btn btn-warning"  type="button" ng-click="addBike.closeModal()"><i class="fa fa-times"></i></button>
  </div>

  <div class="modal-title">
    <div class="col-sm-8 col-sm-offset-2">
      <h3 class="modal-title">Add A Bike</h3>
      <h4 class="modalWarning"> If you click outside of the modal, changes will not be saved!</h4>
    </div>
  </div>

</div>

<form name="addBikeForm" class="addBikeForm" novalidate>

  <div class="row">
    <!-- Bike Cateogry -->
    <div class="form-group col-sm-4">
      <label>Category:
        <input class="form-control" type="text" ng-model="addBike.newBike.bikeCategory" name="bikeCategory" required=""/>
      </label>
      <span ng-show="addBikeForm.$submitted || addBikeForm.bikeCategory.$touched">
          <span ng-show="addBikeForm.bikeCategory.$error.required" class="error">Bike Category Required</span>
      </span>
    </div>
    <!-- Bike Make -->
    <div class="form-group col-sm-4">
      <label>Brand:
        <input class="form-control" type="text" ng-model="addBike.newBike.bikeMake" name="bikeMake" required="" />
      </label>
      <span ng-show="addBikeForm.$submitted || addBikeForm.bikeMake.$touched">
        <span ng-show="addBikeForm.bikeMake.$error.required" class="error">Bike Make Required</span>
      </span>
    </div>
    <!-- Bike Model -->
    <div class="form-group col-sm-4">
      <label>Model:
        <input class="form-control" type="text" ng-model="addBike.newBike.bikeModel" name="bikeModel" required=""  />
      </label>
      <span ng-show="addBikeForm.$submitted || addBikeForm.bikeModel.$touched">
        <span ng-show="addBikeForm.bikeModel.$error.required" class="error">Bike Model Required</span>
      </span>
    </div>
  </div>


  <div class="row">
  <!-- Bike Size -->
    <div class="form-group col-sm-4">
      <label>Size:
        <input class="form-control" type="text" ng-model="addBike.newBike.bikeSize" name="bikeSize" required=""  />
      </label>
      <span ng-show="addBikeForm.$submitted || addBikeForm.bikeSize.$touched">
        <span ng-show="addBikeForm.bikeSize.$error.required" class="error">Bike Size Required</span>
      </span>
    </div>
    <!-- Bike Frame -->
    <div class="form-group col-sm-4">
      <label>Frame Material:
        <input class="form-control" type="text" ng-model="addBike.newBike.bikeFrame" name="bikeFrame" required="" />
      </label>
      <span ng-show="addBikeForm.$submitted || addBikeForm.bikeFrame.$touched">
          <span ng-show="addBikeForm.bikeFrame.$error.required" class="error">Bike Frame Material Required</span>
      </span>
    </div>
    <!-- Manufacturer's Website -->
    <div class="form-group col-sm-4">
      <label>Manufacturer's Website:
        <input class="form-control" type="url" ng-model="addBike.newBike.manufacURL" ng-init="addBike.newBike.manufacURL = 'http://'" name="manufacURL" required=""/>
      </label>
      <span ng-show="addBikeForm.$submitted || addBikeForm.manufacURL.$touched">
          <span ng-show="addBikeForm.manufacURL.$error.required" class="error">Bike Manufactuer's Website Required</span>
          <span ng-show="addBikeForm.manufacURL.$error.url" class="error">Valid URL Required</span>
      </span>
    </div>
  </div>

<!-- Wheel Size, Bike Travel -->
<!-- <div class="row">
  Bike Wheel Size
  <div class="form-group col-sm-4">
    <label>Wheel Size:
      <input type="text" ng-model="addBike.newBike.bikeWheelSize" name="bikeWheelSize" required="" />
    </label>
    <span ng-show="addBikeForm.$submitted || addBikeForm.bikeWheelSize.$touched">
        <span ng-show="addBikeForm.bikeWheelSize.$error.required" class="error">Bike Wheel Size Required</span>
    </span>
  </div>
    Bike Travel
    <div class="form-group col-sm-4">
      <label>Bike Travel (Front):
        <input type="number" ng-model="addBike.newBike.bikeTravelFront" name="bikeTravelFront" required=""  />
      </label>
      <span ng-show="addBikeForm.$submitted || addBikeForm.bikeTravelFront.$touched">
          <span ng-show="addBikeForm.bikeTravelFront.$error.required" class="error">Bike Travel (Front) Required</span>
      </span>
    </div>
    Bike Travel
    <div class="form-group col-sm-4">
      <label>Bike Travel (Rear):
        <input type="number" ng-model="addBike.newBike.bikeTravelRear" name="bikeTravelRear" required=""/>
      </label>
      <span ng-show="addBikeForm.$submitted || addBikeForm.bikeTravelRear.$touched">
          <span ng-show="addBikeForm.bikeTravelRear.$error.required" class="error">Bike Travel (Rear) Required</span>
      </span>
    </div>
  </div> -->


  <div class="row">
    <!-- Description -->
      <!-- <div class="">
        <label>Description: <input type="text" ng-model="addBike.newBike.bikeDesc" name="bikeDesc" required=""  /></label>
        <span ng-show="addBikeForm.$submitted || addBikeForm.bikeDesc.$touched">
            <span ng-show="addBikeForm.bikeDesc.$error.required" class="error">Bike Description</span>
        </span>
      </div> -->
      <div class="col-sm-5 col-sm-offset-1">
        <div class="input-group">
          <label>Search Tags:</label>
          <input class="form-control" type="string" ng-model="addBike.newTag" name="searchTag" />
          <span ng-show="addBikeForm.$submitted">
            <span ng-hide="addBike.newBike.searchTags.length > 0" class="error">One Search Tag Required</span>
          </span>
          <div class="input-group-btn ">
            <p class="btn btn-info btn-sm adminBikeModalBtn" ng-click="addBike.addTag(addBike.newTag)" value="Add Search Tag">Add Search Tag</p>
          </div>
        </div>
        <ul>
          <li class="repeatList" ng-repeat="tag in addBike.newBike.searchTags track by $index">{{tag}}<i class="btn btn-danger btn-xs fa fa-times adminDeletePointBtn" alt="Add A Bike" ng-click="addBike.deleteTag($index)"></i></li>
        </ul>
      </div>

      <div class="col-sm-5">
        <div class="input-group">
          <label class="">Bullet Points:</label>
          <input class="form-control" type="string" ng-model="addBike.newBullet" name="bulletPoint" />
          <span ng-show="addBikeForm.$submitted">
            <span ng-hide="addBike.newBike.bulletPoints.length > 0" class="error">One Bullet Point Required</span>
          </span>
          <div class="input-group-btn">
            <p class="btn btn-info btn-sm adminBikeModalBtn" ng-click="addBike.addBullet(addBike.newBullet)" value="Add Bullet Point">Add Bullet Point</p>
          </div>
        </div>
        <ul>
          <li class="repeatList" ng-repeat="bullet in addBike.newBike.bulletPoints track by $index">{{bullet}}<i class="btn btn-danger btn-xs fa fa-times adminDeletePointBtn" alt="Add A Bike" ng-click="addBike.deleteBullet($index)"></i></li>
        </ul>
      </div>

  </div>

<div class="row bikeBottomRow">

  <div class="col-sm-5 col-sm-offset-1">
    <div class="input-group">
      <label>Bike Pricing:</label>
        <select id="bikePricingDropdown" class="form-control btn btn-info pull-right adminBikeModalBtn" ng-model="addBike.bikePricing" ng-init="addBike.bikePricing = 'false'">
          <option value='false'>Default pricing</option>
          <option value='true'>Custom</option>
        </select>

      <div ng-show="addBike.bikePricing == 'true'">
        <label>1 Day Pricing</label> <input type="number" ng-model="addBike.oneDayPrice" name="oneDayPrice" ng-init="addBike.oneDayPrice = 75" required=""  /></label>
        <span ng-show="addBike.bikePricing == 'true' && (addBikeForm.$submitted || addBikeForm.oneDayPrice.$touched)">
          <span ng-show="addBikeForm.oneDayPrice.$error.required" class="error">One Day Price Required</span>
        </span>

        <label>2-4 Day Pricing</label> <input type="number" ng-model="addBike.twoDayPrice" name="twoDayPrice" ng-init="addBike.twoDayPrice = 65" required=""  /></label>
        <span ng-show="addBike.bikePricing == 'true' && (addBikeForm.$submitted || addBikeForm.twoDayPrice.$touched)">
          <span ng-show="addBikeForm.twoDayPrice.$error.required" class="error">2-4 Day Price Required</span>
        </span>

        <label>5+ Day Pricing</label>
        <input type="number" ng-model="addBike.fiveDayPrice" name="fiveDayPrice" ng-init="addBike.fiveDayPrice = 55" required=""  /></label>
        <span ng-show="addBike.bikePricing == 'true' && (addBikeForm.$submitted || addBikeForm.fiveDayPrice.$touched)">
          <span ng-show="addBikeForm.fiveDayPrice.$error.required" class="error">Five Day Price Required</span>
        </span>
      </div>

    </div>

  </div>

  <div class="col-sm-5">
    <div class="input-group">
      <label>
        <span class="selectImageFile" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}"><i class="fa fa-search-plus"></i> Select Image:
          <!-- <span class="pull-right">{{file.$ngfName}}
            <img ngf-thumbnail="file || '/public/assets/upload1.png'">
          </span> -->
        </span>
      </label>

       <input id="imageComment" class="form-control" type="text" ng-model="comment" placeholder="Add comment.. " class="u-full-width" />
       <span ng-show="addBike.needImage" class="error">One Image Required</span>
       <div class="input-group-btn">
        <button class="btn btn-info btn-sm adminBikeModalBtn" type="button" ng-click="submitPic()" value="Upload"><i class="fa fa-cloud-upload"></i> Upload</button>
       </div>
    </div>

    <div class="imageUpload" ng-repeat="picture in uploads | orderBy: 'created' : true ">
      <img class="previewImage" ng-src="{{picture.file.location}}"/>
      <div>
        {{picture.comment}}
        <button class="btn btn-danger adminDeletePointBtn" ng-click="deletePic(picture._id)"><i class="fa fa-times fa-xs " aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="adminBikeModalFooter pull-right">
    <button class="btn btn-warning" type="button" ng-click="addBike.reset(addBikeForm)" value="Reset">Reset</button>
    <button class="btn btn-primary" type="submit"  ng-click="addBike.addBike(addBikeForm.$valid)" value="Add Bike">Add Bike</button>
  </div>
</div>


</form>
