<div class="bikeModal">

  <div class="modal-header">
    <div class="modal-title">
      <div class="row">
        <span ng-model="bikeService.bikeCategory" name="bikeCategory">{{bike.selectedBike.bikeCategory}}: </span>
        <span ng-model="bikeService.bikeMake" name="bikeMake">{{bike.selectedBike.bikeMake}} </span>
        <span ng-model="bikeService.bikeModel" name="bikeModel">{{bike.selectedBike.bikeModel}} </span>
      </div>
    </div>
  </div>

  <div class="modal-body" id="" >

    <div class="row">
      <div class="col-xs-12"><img class="img-responsive" ng-repeat="img in bike.selectedBike.imageUrls" ng-src="{{img}}"></img></div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul>
            <li ng-repeat="bullet in bike.selectedBike.bulletPoints">
              {{bullet}}
            </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class=col-xs-6>
        <div ng-model="bikeService.bikeFrame" name="bikeFrame">Frame Material: {{bike.selectedBike.bikeFrame}} </div>
        <div ng-model="bikeService.bikeWheelSize" name="bikeWheelSize">Wheel Size: {{bike.selectedBike.bikeWheelSize}} </div>
      </div>
      <div class=col-xs-6>
        <div ng-model="bikeService.bikeTravelFront" name="bikeTravelFront">Bike Travel (Front): {{bike.selectedBike.bikeTravelFront}} </div>
        <div ng-model="bikeService.bikeTravelRear" name="bikeTravelRear">Bike Travel (Rear): {{bike.selectedBike.bikeTravelRear}} </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8" ng-model="bikeService.manufacURL" name="manufacURL">Manufacturer's Website:
        <a ng-href="{{bike.selectedBike.bikemanufacURL}}">{{bike.selectedBike.manufacURL}}</a>
      </div>

      <div class="col-xs-4">
        <div ng-model="bikeService.bikeBuyPrice" name="bikeBuyPrice">Price: {{bike.selectedBike.bikeBuyPrice}} </div>
        <div ng-model="bikeService.bikeRentPrice" name="bikeBuyPrice">Rent Price:
          <ul>
            <li>1 Day: $75</li>
            <li>2-5 Days: $65</li>
            <li>6+ Day: $55</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="row">

      <div class="col-xs-4">
        <label>Pedal:</label>
        <select ng-model="bike.pedalType">
          <option value="">Please select</option>
          <option value="Two-Hole">Two-Hole</option>
          <option value="Three-Hole">Three-Hole</option>
        </select>
        <span ng-show="bike.pedalNeeded">Pedal Type Required!</span>
      </div>

      <div class="col-xs-4">
        <label>Helmet:</label>
        <select ng-model="bike.helmetSize">
          <option value="">Please select</option>
          <option value=true>Need</option>
          <option value=false>Don't need</option>
        </select>
        <span ng-show="bike.helmetNeeded">Helmet Size Required!</span>
      </div>

      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary" ng-click="bike.submitBike()">Select Bike</button>
      </div>
    </div>
  </div>

</div>
