<div class="bikeModal">

  <div class="modal-header">

    <div class="modalClose pull-right">
      <button class="btn btn-warning"  type="button" ng-click="bikeEdit.closeModal()"><i class="fa fa-times"></i></button>
    </div>

    <div class="modal-title">
      <div class=class="col-sm-8 col-sm-offset-2">
        <h3 class="">Edit Bike Details</h3>
        <h4 class="modalWarning"> If you click outside of the modal, changes will not be saved!</h4>
      </div>
    </div>

  </div>

  <form name="editBikeForm" class="css-form" novalidate>

    <div class="row">
      <!-- Bike Cateogry -->
      <div class="form-group col-sm-4">
        <label>Category:
          <input class="form-control" type="text" ng-model="bikeEdit.selectedBike.bikeCategory" name="bikeCategory" required=""/>
        </label>
        <span ng-show="editBikeForm.$submitted || ediBikeForm.bikeCategory.$touched">
            <span ng-show="editBikeForm.bikeCategory.$error.required" class="error">Bike Category Required</span>
        </span>
      </div>
      <!-- Bike Make -->
      <div class="form-group col-sm-4">
        <label>Brand:
          <input class="form-control" type="text" ng-model="bikeEdit.selectedBike.bikeMake" name="bikeMake" required="" />
        </label>
        <span ng-show="editBikeForm.$submitted || editBikeForm.bikeMake.$touched">
          <span ng-show="editBikeForm.bikeMake.$error.required" class="error">Bike Make Required</span>
        </span>
      </div>
      <!-- Bike Model -->
      <div class="form-group col-sm-4">
        <label>Model:
          <input class="form-control" type="text" ng-model="bikeEdit.selectedBike.bikeModel" name="bikeModel" required=""  />
        </label>
        <span ng-show="editBikeForm.$submitted || editBikeForm.bikeModel.$touched">
          <span ng-show="editBikeForm.bikeModel.$error.required" class="error">Bike Model Required</span>
        </span>
      </div>
    </div>

    <div class="row">
      <!-- Bike Size -->
      <div class="form-group col-sm-4">
        <label>Size:
          <input class="form-control" type="text" ng-model="bikeEdit.selectedBike.bikeSize" name="bikeSize" required=""/>
        </label>
        <span ng-show="editBikeForm.$submitted || ediBikeForm.bikeSize.$touched">
            <span ng-show="editBikeForm.bikeSize.$error.required" class="error">Bike Size Required</span>
        </span>
      </div>
      <!-- Bike Frame -->
      <div class="form-group col-sm-4">
        <label>Frame Material:
          <input class="form-control" type="text" ng-model="bikeEdit.selectedBike.bikeFrame" name="bikeFrame" required="" />
        </label>
        <span ng-show="editBikeForm.$submitted || editBikeForm.bikeFrame.$touched">
          <span ng-show="editBikeForm.bikeFrame.$error.required" class="error">Bike Frame Required</span>
        </span>
      </div>
      <!-- Bike Model -->
      <div class="form-group col-sm-4">
        <label>Manufacturer's Website:
          <input class="form-control" type="url" ng-model="bikeEdit.selectedBike.manufacURL" name="bikeModel" required=""  />
        </label>
        <span ng-show="editBikeForm.$submitted || editBikeForm.manufacURL.$touched">
          <span ng-show="editBikeForm.manufacURL.$error.required" class="error">Bike Manufactuer's Website Required</span>
          <span ng-show="editBikeForm.manufacURL.$error.url" class="error">Valid URL Required</span>
        </span>
      </div>
    </div>

    <!-- unnecessary fields -->
    <!--
  Description
  <label>Description: <input type="text" ng-model="bikeEdit.selectedBike.bikeDesc" name="bikeDesc" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeDesc.$touched">
      <span ng-show="editBikeForm.bikeDesc.$error.required" class="error">Bike Description</span>
    </span>

    Bike Wheel Size
    <label>Bike Wheel Size: <input type="text" ng-model="bikeEdit.selectedBike.bikeWheelSize" name="bikeWheelSize" required=""  /></label>
    <span ng-show="editBikeForm.$submitted || editBikeForm.bikeWheelSize.$touched">
        <span ng-show="editBikeForm.bikeWheelSize.$error.required" class="error">Bike Wheel Size Required</span>
      </span>

    Bike Travel
    <label>Bike Travel (Front) in mm: <input type="number" ng-model="bikeEdit.selectedBike.bikeTravelFront" name="bikeTravelFront" required=""  /></label>
    <span ng-show="editBikeForm.$submitted || editBikeForm.bikeTravelFront.$touched">
        <span ng-show="editBikeForm.bikeTravelFront.$error.required" class="error">Bike Travel (Front) Required</span>
      </span><br />
    <label>Bike Travel (Rear) in mm: <input type="number" ng-model="bikeEdit.selectedBike.bikeTravelRear" name="bikeTravelRear" required=""  /></label>
    <span ng-show="editBikeForm.$submitted || editBikeForm.bikeTravelRear.$touched">
        <span ng-show="editBikeForm.bikeTravelRear.$error.required" class="error">Bike Travel (Rear) Required</span>
      </span> -->

<!-- code from add bike form  -->
<div class="row">

    <div class="col-sm-5 col-sm-offset-1">
      <div class="input-group">
        <label>Search Tags:</label>
        <input class="form-control" type="string" ng-model="bikeEdit.newTag" name="searchTag" />
        <span ng-show="editBikeForm.$submitted">
          <span ng-hide="bikeEdit.selectedBike.searchTags.length > 0" class="error">One Search Tag Required</span>
        </span>
        <div class="input-group-btn">
          <p class="btn btn-info btn-sm adminBikeModalBtn" ng-click="bikeEdit.addTag(bikeEdit.newTag)" value="Add Search Tag">Add Search Tag</p>
        </div>
      </div>
      <ul>
        <li class="repeatList" ng-repeat="tag in bikeEdit.selectedBike.searchTags track by $index">{{tag}}<i class="btn btn-danger btn-xs fa fa-times adminDeletePointBtn" alt="Add A Bike" ng-click="bikeEdit.deleteTag($index)"></i></li>
      </ul>
    </div>

    <div class="col-sm-5">
      <div class="input-group">
        <label class="">Bullet Points:</label>
        <input class="form-control" type="string" ng-model="bikeEdit.newBullet" name="bulletPoint" />
        <span ng-show="editBikeForm.$submitted">
          <span ng-hide="bikeEdit.selectedBike.bulletPoints.length > 0" class="error">One Bullet Point Required</span>
        </span>
        <div class="input-group-btn">
          <button class="btn btn-info btn-sm adminBikeModalBtn" type="button" ng-click="bikeEdit.addBullet(bikeEdit.newBullet)" value="Add Bullet Point">Add Bullet Point</button>
        </div>
      </div>
      <ul>
        <li class="repeatList" ng-repeat="bullet in bikeEdit.selectedBike.bulletPoints track by $index">{{bullet}}<i class="btn btn-danger adminDeletePointBtn btn-xs fa fa-times" alt="Add A Bike" ng-click="bikeEdit.deleteBullet($index)"></i></li>
      </ul>
    </div>

</div>

<div class="row addBikeBottomRow">

<div class="col-sm-5 col-sm-offset-1">
  <div class="input-group">
    <label>Bike Pricing:</label>
      <select id="bikePricingDropdown" class="form-control btn btn-info pull-right adminBikeModalBtn" ng-model="bikeEdit.bikePricing" ng-init="bikeEdit.bikePricing = 'false'">
        <option value='false'>Default pricing</option>
        <option value='true'>Custom</option>
      </select>

    <div ng-show="bikeEdit.bikePricing == 'true'">
      <label>1 Day Pricing</label> <input type="number" ng-model="bikeEdit.oneDayPrice" name="oneDayPrice" ng-init="bikeEdit.oneDayPrice = 75" required=""  /></label>
      <span ng-show="bikeEdit.bikePricing == 'true' && (editBikeForm.$submitted || editBikeForm.oneDayPrice.$touched)">
        <span ng-show="editBikeForm.oneDayPrice.$error.required" class="error">One Day Price Required</span>
      </span>

      <label>2-4 Day Pricing</label> <input type="number" ng-model="bikeEdit.twoDayPrice" name="twoDayPrice" ng-init="bikeEdit.twoDayPrice = 65" required=""  /></label>
      <span ng-show="bikeEditbikePricing == 'true' && (editBikeForm.$submitted || editBikeForm.twoDayPrice.$touched)">
        <span ng-show="editBikeForm.twoDayPrice.$error.required" class="error">2-4 Day Price Required</span>
      </span>

      <label>5+ Day Pricing</label>
      <input type="number" ng-model="bikeEdit.fiveDayPrice" name="fiveDayPrice" ng-init="bikeEdit.fiveDayPrice = 55" required=""  /></label>
      <span ng-show="bikeEdit.bikePricing == 'true' && (editBikeForm.$submitted || editBikeForm.fiveDayPrice.$touched)">
        <span ng-show="editBikeForm.fiveDayPrice.$error.required" class="error">Five Day Price Required</span>
      </span>
    </div>

  </div>

</div>

    <div class="col-sm-5">
      <div class="input-group">
        <label class="">
          <span class="selectImageFile" type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}"><i class="fa fa-search-plus"></i> Select Image:
              <!-- <img ngf-thumbnail="file || '/public/assets/upload1.png'"> -->
          </span>
        </label>
        <span class="">{{file.$ngfName}}</span>


         <input id="imageComment" class="form-control" type="text" ng-model="comment" placeholder="Add comment.. " class="u-full-width" />
         <span ng-show="bikeEdit.needImage" class="error">One Image Required</span>
         <div class="input-group-btn">
          <button class="btn btn-info btn-sm adminBikeModalBtn" type="button" ng-click="submitPic()" value="Upload"><i class="fa fa-cloud-upload"></i> Upload</button>
         </div>
      </div>
      <p class="repeatList" ng-repeat="image in bikeEdit.selectedBike.imageUrls track by $index"><img ng-src="{{image}}" style="height:100px;width:auto;" /><button class="btn btn-danger adminDeletePointBtn" ng-click="bikeEdit.deleteImage($index)"><i class="fa fa-times fa-sm"></i></button></p>

      <div class="imageUpload" ng-repeat="picture in uploads | orderBy: 'created' : true ">
        <img class="previewImage" ng-src="{{picture.file.location}}"/>
        <div>
          {{picture.comment}}
          <button class="btn btn-danger btn-sm adminDeletePointBtn" ng-click="deletePic(picture._id)"><i class="fa fa-times fa-sm" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
</div>

<hr />

    <div class="row">
      <div class="adminBikeModalFooter pull-right">
        <button class="btn btn-warning btn-sm" ng-click="bikeEdit.reset(editBikeForm)">Undo Changes</button>
        <button class="btn btn-primary btn-sm" ng-click="bikeEdit.bikeEdit(editBikeForm.$valid)">Save Changes</button>
      </div>
    </div>

  </form>

</div>
