<div class="bikeModal">

  <div class="modal-header">

    <div class="modal-title">
      <div class="row">
        <span name="bikeCategory">{{bike.selectedBike.bikeCategory}}: </span>
        <span name="bikeMake">{{bike.selectedBike.bikeMake}} </span>
        <span name="bikeModel">{{bike.selectedBike.bikeModel}} </span>
        <button class="btn btn-warning" type="button" ng-click="bike.closeModal()">Close</button>

      </div>
    </div>
  </div>

  <div class="modal-body" id="" >
    <div class="row">
      <div class="col-xs-12"><img class="img-responsive" ng-repeat="img in bike.selectedBike.imageUrls" ng-src="{{img}}"></img></div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul>
            <li ng-repeat="bullet in bike.selectedBike.bulletPoints">
              {{bullet}}
            </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class=col-xs-6>
        <div name="bikeFrame">Frame Material: {{bike.selectedBike.bikeFrame}} </div>
        <div name="bikeWheelSize">Wheel Size: {{bike.selectedBike.bikeWheelSize}} </div>
      </div>
      <div class=col-xs-6>
        <div name="bikeTravelFront">Bike Travel (Front): {{bike.selectedBike.bikeTravelFront}} </div>
        <div name="bikeTravelRear">Bike Travel (Rear): {{bike.selectedBike.bikeTravelRear}} </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8" name="manufacURL">
        <a ng-href="{{bike.selectedBike.manufacURL}}" target="_blank">Go to {{bike.selectedBike.bikeMake}} {{bike.selectedBike.bikeModel}} website</a>
      </div>

      <div class="col-xs-4">
        <div name="bikeBuyPrice">Price: {{bike.selectedBike.bikeBuyPrice}} </div>
        <div name="bikeBuyPrice">Rent Price:
          <ul>
            <li>1 Day: $75</li>
            <li>2-5 Days: $65</li>
            <li>6+ Day: $55</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">

    <div class="row">

      <div class="col-xs-4">
        <label>Pedal:</label>
        <select ng-model="bike.pedalType">
          <option value="">Please select</option>
          <option value="Flat">Flat Pedal</option>
          <option value="Shimano">Shimano SPD</option>
          <option value="Time">Time</option>
          <option value="Crank Brothers">Crank Brothers</option>
          <option value="None">None (I will bring my own)</option>

        </select>
        <span ng-show="bike.pedalNeeded">Pedal Type Required!</span>
      </div>

      <div class="col-xs-4">
        <label>Helmet:</label>
        <select ng-model="bike.helmetSize">
          <option value="">Please select</option>
          <option value=true>Need</option>
          <option value=false>Don't need</option>
        </select>
        <span ng-show="bike.helmetNeeded">Helmet Size Required!</span>
      </div>

      <div class="col-xs-4">

        <button type="submit" class="btn btn-primary" ng-click="bike.submitBike()">Select Bike</button>
      </div>
    </div>
  </div>

  </div>
</div>
