<div class="bikeModal">
  <div class="modal-header">
    <h3 class="modal-title">Edit Bike Details</h3>
    <h4> If you click outside of the modal, changes will not be saved!</h4>
    <button class="btn btn-warning" type="button" ng-click="bikeEdit.closeModal()">Close</button>

  </div>
  <!-- <div class="modal-body" id="" > -->

  </div>
  <div class="modal-footer">
    <!-- <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button> -->
  </div>
</div>

<form name="editBikeForm" class="css-form" novalidate>
  <!-- Bike Cateogry -->
  <label>Bike Category: <input type="text" ng-model="bikeEdit.selectedBike.bikeCategory" name="bikeCategory" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeCategory.$touched">
      <span ng-show="editBikeForm.bikeCategory.$error.required" class="error">Bike Category Required</span>
    </span><br />

  <!-- Bike Make -->
  <label>Bike Make: <input type="text" ng-model="bikeEdit.selectedBike.bikeMake" name="bikeMake" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeMake.$touched">
      <span ng-show="editBikeForm.bikeMake.$error.required" class="error">Bike Make Required</span>
    </span><br />

  <!-- Bike Model -->
  <label>Bike Model: <input type="text" ng-model="bikeEdit.selectedBike.bikeModel" name="bikeModel" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeModel.$touched">
      <span ng-show="editBikeForm.bikeModel.$error.required" class="error">Bike Model Required</span>
    </span><br />

  <!-- Bike Size -->
  <label>Bike Size: <input type="text" ng-model="bikeEdit.selectedBike.bikeSize" name="bikeSize" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeSize.$touched">
      <span ng-show="editBikeForm.bikeSize.$error.required" class="error">Bike Size Required</span>
    </span><br />

  <!-- Bike Frame -->
  <label>Bike Frame Material: <input type="text" ng-model="bikeEdit.selectedBike.bikeFrame" name="bikeFrame" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeFrame.$touched">
      <span ng-show="editBikeForm.bikeFrame.$error.required" class="error">Bike Frame Material Required</span>
    </span><br />

  <!-- Bike Wheel Size -->
  <label>Bike Wheel Size: <input type="text" ng-model="bikeEdit.selectedBike.bikeWheelSize" name="bikeWheelSize" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeWheelSize.$touched">
      <span ng-show="editBikeForm.bikeWheelSize.$error.required" class="error">Bike Wheel Size Required</span>
    </span><br />

  <!-- Bike Travel   -->
  <label>Bike Travel (Front) in mm: <input type="number" ng-model="bikeEdit.selectedBike.bikeTravelFront" name="bikeTravelFront" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeTravelFront.$touched">
      <span ng-show="editBikeForm.bikeTravelFront.$error.required" class="error">Bike Travel (Front) Required</span>
    </span><br />
  <label>Bike Travel (Rear) in mm: <input type="number" ng-model="bikeEdit.selectedBike.bikeTravelRear" name="bikeTravelRear" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeTravelRear.$touched">
      <span ng-show="editBikeForm.bikeTravelRear.$error.required" class="error">Bike Travel (Rear) Required</span>
    </span><br />
  <!-- Manufacturer's Website -->
  <label>Manufacturer's Website: <input type="url" ng-model="bikeEdit.selectedBike.manufacURL" name="manufacURL" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.manufacURL.$touched">
      <span ng-show="editBikeForm.manufacURL.$error.required" class="error">Bike Manufactuer's Website Required</span>
      <span ng-show="editBikeForm.manufacURL.$error.url" class="error">Valid URL Required</span>
    </span><br />
  <!-- SEARCH TAGS -->
  Search Tags
  <ul>
    <li class="repeatList" ng-repeat="tag in bikeEdit.selectedBike.searchTags track by $index">{{tag}}  <img class="img-responsive trashIcon" src="public/assets/trash.png" ng-click="bikeEdit.deleteTag($index)"  /></li>
    <label>Search Tags: <input type="string" ng-model="bikeEdit.newTag" name="searchTag" /></label>
    <span ng-show="editBikeForm.$submitted">
        <!-- <span ng-hide="bikeEdit.selectedBike.searchTags.length > 0" class="error">One Search Tag Required</span> -->
      </span><input type="button" ng-click="bikeEdit.addTag(bikeEdit.newTag)" value="Add Search Tag" /><br />

  </ul>
  <!-- IMAGE URLS -->
  Saved Images:
  <ul>
    <li class="repeatList" ng-repeat="image in bikeEdit.selectedBike.imageUrls track by $index"><img ng-src="{{image}}" style="height:100px;width:auto;" /><img class="img-responsive trashIcon" src="public/assets/trash.png" ng-click="bikeEdit.deleteImage($index)" /> </li>
    <!-- <label>Image URL: <input type="string" ng-model="bikeEdit.newImage.newImage" name="imageURL" /></label> -->
    <span ng-show="editBikeForm.$submitted">
        <span ng-hide="bikeEdit.selectedBike.imageUrls.length > 0" class="error">One Image Required</span>
      </span>
      <!-- <input type="button" ng-click="bikeEdit.addImage(bikeEdit.newImage.newImage)" value="Add Image" /><br /> -->

  </ul>

  New Images:
  <ul>
    <div ng-repeat="picture in uploads | orderBy: 'created' : true ">
    <img class="previewImage" ng-src="{{picture.file.location}}"/>
    <div>
    {{picture.comment}}
    <img class="img-responsive trashIcon" src="public/assets/trash.png" ng-click="deletePic(picture._id)" />
    </div>
    </div>

    <div>

         <span ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}">
             <button>Select Picture</button> <span> {{file.$ngfName}} </span>
             </span>
             <!-- <img ngf-thumbnail="file || '/images/upload.svg'"></div> -->
         <input type="text" ng-model="comment" placeholder="Add comment.. " class="u-full-width" />

         <input type="button" ng-click="submitPic()" value="Upload" />
  </div>
  </ul>

  <!-- Buy Price -->
  <!-- Rental Price -->
  <!-- Bullet Points -->
  Bullet Points:
  <ul>
    <li class="repeatList" ng-repeat="bullet in bikeEdit.selectedBike.bulletPoints track by $index">{{bullet}}<img class="img-responsive trashIcon" src="public/assets/trash.png" ng-click="bikeEdit.deleteBullet($index)" /></li>
    <label>Bullet Point Highlight: <input type="string" ng-model="bikeEdit.newBullet" name="bulletPoint" /></label>
    <span ng-show="editBikeForm.$submitted">
        <span ng-hide="bikeEdit.selectedBike.bulletPoints.length > 0" class="error">One Bullet Point Required</span>
      </span><input type="button" ng-click="bikeEdit.addBullet(bikeEdit.newBullet)" value="Add Bullet Point" /><br />

  </ul>
  <!-- Description -->
  <label>Description: <input type="text" ng-model="bikeEdit.selectedBike.bikeDesc" name="bikeDesc" required=""  /></label>
  <span ng-show="editBikeForm.$submitted || editBikeForm.bikeDesc.$touched">
      <span ng-show="editBikeForm.bikeDesc.$error.required" class="error">Bike Description</span>
    </span><br />

  <input type="button" ng-click="bikeEdit.reset(editBikeForm)" value="Undo Changes" />
  <input type="submit"  ng-click="bikeEdit.bikeEdit(editBikeForm.$valid)" value="Save Changes" />
<!-- ng-disabled="editBikeForm.$invalid" -->
</form>
