Customer Details Page
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" ng-model="cust.custName" placeholder="Enter name">
        </div>
        </div>
  <div class="form-group">
  <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" ng-model="cust.email"placeholder="Enter email">
      </div>
    </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="phoneNumber">Phone Number:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="phoneNumber" ng-model="cust.phoneNumber" placeholder="Phone number here">
  </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="address">Address:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="address" ng-model="cust.address" placeholder="Address here">
  </div>
</div>
  <!-- <div ng-repeat="tbd"></div> -->

  <p align="right">Daily Price: ${{cust.priceRate}}.00/Day</p>
  <p align="right">Days Reserved: {{cust.numberofDays}}</p>
  <p align="right">Subtotal = $150</p>
  <hr align="right" width="10%"/>
  <p align="right">Total: ${{cust.totalPrice}}</p>
  <button type="button" class="btn btn-danger pull-right" ng-click="cust.cancelRes()" ng-disabled="cust.addResStatus">Cancel</button>
  <button type="submit" class="btn btn-success pull-right" ng-click="cust.addRes()" ng-disabled="cust.addResStatus">Book Reservation</button>

</form>
