
<div id="checkoutPage container">

  <form name="addResForm" class="form-horizontal" novalidate>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="cust.custName" name="custName" placeholder="Enter name" required="">
            <span ng-show="addResForm.$submitted || addResForm.custName.$touched">
                <span ng-show="addResForm.custName.$error.required" class="error">Customer Name Required</span>
              </span>
          </div>
          </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" ng-model="cust.email" name="email" placeholder="Enter email" required="">
          <span ng-show="addResForm.$submitted || addResForm.email.$touched">
              <span ng-show="addResForm.email.$error.required" class="error">Email Required</span>
            </span>
        </div>
      </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="phoneNumber">Phone Number:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="phoneNumber" ng-model="cust.phoneNumber" name="phoneNumber" placeholder="Phone number here" required="">
      <span ng-show="addResForm.$submitted || addResForm.phoneNumber.$touched">
          <span ng-show="addResForm.phoneNumber.$error.required" class="error">Phone Number Required</span>
        </span>
    </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address:</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="address" ng-model="cust.address" name="address" placeholder="Address here" required="">
      <span ng-show="addResForm.$submitted || addResForm.address.$touched">
          <span ng-show="addResForm.address.$error.required" class="error">Address Required</span>
        </span>
    </div>
  </div>
    <!-- <div ng-repeat="tbd"></div> -->
    <hr />
    <div class="row">

      <!-- CART VIEW -->
      <div class="col-sm-8">
        Checkout Date: <strong>{{cust.startDisplay}}</strong> <br />
        Return Date: <strong>{{cust.endDisplay}}</strong>
      <ul>
        <li ng-repeat="item in cust.cart">
          {{item._name}}<br />Pedal Type: {{item._data.pedal}}<br />Helmet Needed: {{item._data.helmet}}
          <p ng-if="cust.dates.length == 1">Price: ${{item._data.pricing[0]}}</p>
          <p ng-if="cust.dates.length > 1 && cust.dates.length < 5">Price: ${{item._data.pricing[1]}}/Day</p>
          <p ng-if="cust.dates.length > 4">Price: ${{item._data.pricing[2]}}/Day</p>
          <button class="btn btn-warning" ng-click="cust.deleteItem($index)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>

        </li>

      </ul>


      </div>

  <div class="col-sm-4">

  <!-- Price Total -->
  <p align="right">Daily Price: ${{cust.priceRate}}.00/Day</p>
  <p align="right">Number of Bikes Reserved: {{cust.cart.length}}</p>
  <p align="right">Days Reserved: {{cust.numberofDays}}</p>
  <!-- <p align="right">Subtotal = $150</p> -->
  <hr align="right" width="10%"/>
  <p align="right">Total: ${{cust.totalPrice}}</p>
  <button type="button" class="btn btn-danger pull-right" ng-click="cust.cancelRes()" ng-disabled="cust.addResStatus">Return to Browsing</button>
  <input type="submit" class="btn btn-success pull-right" ng-click="cust.addRes(addResForm.$valid)" ng-disabled="cust.addResStatus" value="Book Reservation">
</div>
</div>
<br />
<div class="col-sm-12">
<details>
<summary>Reservation Policy</summary>
<p><strong>Refunds:</strong> In the event of a cancellation, store credit or a rain check is offered if something beyond your control comes up. Worst case is a $25 dollar cancellation fee per bike. (Refunds are NOT given in the rare event that it rains- we can’t control the weather!)</p>

<p><strong>Rental Day:</strong> One rental day is defined as Open-Close of that day's store hours (Please refer to angrycatfishbicycle.com for current store hours).  Rentals are not 24 hours.  We need to have these bikes back before we close so that we can prepare them for more riders the next day.</p>

<p><strong>Damage:</strong> Off-road riding can be unpredictable. There are rocks, roots, bridges, mud, and the occasional tabletop to get rad on. Sometimes people fall, crash, or fall into creeks. Whatever the situation, you are responsible for damage to our bike’s. You will be given a chance to ride and test your bike before your ride. ALL bikes are washed, tuned and inspected after every rental. We take good care of our bikes and are proud of how well they look.</p>
</details>
</div>
</div>
