<div class="resModal">

  <div class="modal-header">
    <!-- controller: 'resDetailsController as resDetails', -->
    <h2>Reservation Details</h2>
    <div class="modal-title">
      <div class="row">
        <ul id="resModalView">
        <li ><strong>Transaction ID:</strong> {{resDetails.resData.transactionID}} </li>
        <li ><strong>Customer Name:</strong> {{resDetails.resData.custName}} </li>
        <li ><strong>Customer Email:</strong> <a>{{resDetails.resData.custEmail}}</a> </li>
        <li ><strong>Customer Phone Number:</strong> {{resDetails.resData.custPhone}} </li>
        <li ><strong>Customer Address:</strong> {{resDetails.resData.custAddress}} </li>
        <strong>Bikes Reserved:</strong>
        <span ng-repeat="item in resDetails.resData.bikeID">
        <li > <mark>{{resDetails.bikeNames[$index]}}</mark><br />
        <strong>Pedal Type:</strong> {{resDetails.resData.pedalType[$index]}}<br />
        <strong>Helmet Required:</strong> {{resDetails.resData.needHelmet[$index]}} </li>
        </span>
        <li ><strong>Total Price:</strong> {{resDetails.resData.totalPrice}} </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal-body" id="" >


  </div>
</div>
