<h2>Test Page</h2>
<section>
  <p>
    <button ng-click="test.getBikes()">Get Bikes</button>
    <button ng-click="test.addBike(test.testBike)">Add Bike</button>
    <button ng-click="test.updateBike(test.bikeList.data[0]._id, test.testBike2)">Update Bike</button>

    <button ng-click="test.deleteBike(test.bikeList.data[0]._id)">Delete Bike</button>

    <br />
    <button ng-click="test.getReservations()">Get Reservations</button>
    <br />
    Enter BikeID: <input type="number" ng-model="test.bikeID" />
    <button ng-click="test.getReservationsByBikeID(test.bikeID)">Get Reservations By Bike ID</button>
    <br />
    Enter TransactionID: <input type="text" ng-model="test.transactionID" />
    <button ng-click="test.getReservationsByTransactionID(test.transactionID)">Get Reservations By Transaction ID</button>
    <br />
    Enter Email: <input type="text" ng-model="test.email" />
    <button ng-click="test.getReservationsByEmail(test.email)">Get Reservations By Email</button>
    <!-- <button ng-click="test.getReservations()">Get Reservations</button> -->
    <!-- <button ng-click="test.getReservations()">Get Reservations</button> -->


    <style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<div>
    <pre>Start: <em>{{test.dt.start | date:'fullDate' }}</em></pre>
    <pre>End: <em>{{test.dt.end | date:'fullDate' }}</em></pre>

    <h4>Reservation Dates</h4>
    <div class="row">
      <div class="col-sm-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="test.dt.start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-sm-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="test.dt.end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="test.today()">Today</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="test.clear()">Clear</button>
    <button uib-tooltip="Submit Dates" class="btn btn-sm btn-default" ng-click="submitDates(test.dt)">Submit</button>

</div>



  </p>
</section>
