<h2>Test Page</h2>
<section>
  <p>
    <button ng-click="test.getBikes()">Get Bikes</button>
    <button ng-click="test.addBike(test.testBike)">Add Bike</button>
    <button ng-click="test.updateBike(test.bikeList.data[0]._id, test.testBike2)">Update Bike</button>

    <button ng-click="test.deleteBike(test.bikeList.data[0]._id)">Delete Bike</button>

    <br />
    <button ng-click="test.getReservations()">Get Reservations</button>
    <br />
    Enter BikeID: <input type="number" ng-model="test.bikeID" />
    <button ng-click="test.getReservationsByBikeID(test.bikeID)">Get Reservations By Bike ID</button>
    <br />
    Enter TransactionID: <input type="text" ng-model="test.transactionID" />
    <button ng-click="test.getReservationsByTransactionID(test.transactionID)">Get Reservations By Transaction ID</button>
    <br />
    Enter Email: <input type="text" ng-model="test.email" />
    <button ng-click="test.getReservationsByEmail(test.email)">Get Reservations By Email</button>
    <!-- <button ng-click="test.getReservations()">Get Reservations</button> -->
    <!-- <button ng-click="test.getReservations()">Get Reservations</button> -->


    <style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<div>
    <pre>Start: <em>{{test.dt.start | date:'fullDate' }}</em></pre>
    <pre>End: <em>{{test.dt.end | date:'fullDate' }}</em></pre>

    <h4>Reservation Dates</h4>
    <div class="row">
      <div class="col-sm-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="test.dt.start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-sm-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="test.dt.end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="test.today()">Today</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="test.clear()">Clear</button>
    <button uib-tooltip="Submit Dates" class="btn btn-sm btn-default" ng-click="submitDates(test.dt)">Submit</button>

</div>



  </p>
</section>



<!-- search box -->

<style>
       body {
           padding: 15px;
       }

       .select2 > .select2-choice.ui-select-match {
           /* Because of the inclusion of Bootstrap */
           height: 29px;
       }

       .selectize-control > .selectize-dropdown {
           top: 36px;
       }
       /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
       .select-box {
         background: #fff;
         position: relative;
         z-index: 1;
       }
       .alert-info.positioned {
         margin-top: 1em;
         position: relative;
         z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
       }
   </style>
</head>

<body class="ng-cloak">
 <button class="btn btn-default btn-xs" ng-click="test.enable()">Enable ui-select</button>
 <button class="btn btn-default btn-xs" ng-click="test.disable()">Disable ui-select</button>
 <button class="btn btn-default btn-xs" ng-click="test.clear()">Clear ng-model</button>

 <!-- <h3>Deselect callback with single property binding</h3>
 <ui-select multiple ng-model="test.multipleDemo.deSelectedPeople" on-remove="test.removed($item, $model)" theme="bootstrap" ng-disabled="test.disabled" close-on-select="false" style="width: 800px;" title="Choose a person">
   <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
   <ui-select-choices repeat="person.email as person in test.people | propsFilter: {name: $select.search, age: $select.search}">
     <div ng-bind-html="person.name | highlight: $select.search"></div>
     <small>
       email: {{person.email}}
       age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
     </small>
   </ui-select-choices>
 </ui-select>
 <p>Last Removed:</p>
<pre>
$item = {{test.lastRemoved.item}}
$model = {{test.lastRemoved.model}}
</pre> -->

 <hr>
 <h3>Bikes</h3>
 <ui-select multiple ng-model="test.multipleDemo.selectedPeopleSimple" theme="bootstrap" ng-disabled="test.disabled" close-on-select="false" style="width: 200px;" title="Choose a Bike">
   <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
   <ui-select-choices repeat="person.email as person in test.people | propsFilter: {name: $select.search, age: $select.search}">
     <div ng-bind-html="person.name | highlight: $select.search"></div>
     <small>
       email: {{person.email}}
       <!-- age: <span ng-bind-html="''+person.age | highlight: $select.search"></span> -->
     </small>
   </ui-select-choices>
 </ui-select>
 <p>Selected: {{test.multipleDemo.selectedPeopleSimple}}</p>

 <hr>
 <h3>Bikes</h3>
 <div>
   <ui-select multiple ng-model="test.cycle1" theme="bootstrap" ng-disabled="test.disabled" close-on-select="true" style="width: 200px;" title="Choose a Bike">
     <ui-select-match placeholder="bikes">{{$item.bikeCategory}}</ui-select-match>
     <ui-select-choices repeat="bike.bikeCategory as bike in test.testBikes">
       <div ng-bind-html="bike.bikeCategory | highlight: $select.search"></div>
       <small>
         bikeCategory: {{bike.bikeCategory}}
       </small>
     </ui-select-choices>
   </ui-select>
   <p>Selected: {{test.cycle1}}</p>

   <ui-select multiple ng-model="test.cycle2" theme="bootstrap" ng-disabled="test.disabled" close-on-select="true" style="width: 200px;" title="Choose a Bike">
     <ui-select-match placeholder="bikes">{{$item.bikeMake}}</ui-select-match>
     <ui-select-choices repeat="bike.bikeMake as bike in test.testBikes">
       <div ng-bind-html="bike.bikeMake | highlight: $select.search"></div>
       <small>
         bikeMake: {{bike.bikeMake}}
       </small>
     </ui-select-choices>
   </ui-select>
   <p>Selected: {{test.cycle2}}</p>

   <ui-select multiple ng-model="test.cycle3" theme="bootstrap" ng-disabled="test.disabled" close-on-select="true" style="width: 200px;" title="Choose a Bike">
     <ui-select-match placeholder="bikes">{{$item.bikeModel}}</ui-select-match>
     <ui-select-choices repeat="bike.bikeModel as bike in test.testBikes">
       <div ng-bind-html="bike.bikeModel | highlight: $select.search"></div>
       <small>
         bikeCategory: {{bike.bikeModel}}
       </small>
     </ui-select-choices>
   </ui-select>
   <p>Selected: {{test.cycle3}}</p>
   
   <ui-select multiple ng-model="test.cycle4" theme="bootstrap" ng-disabled="test.disabled" close-on-select="true" style="width: 200px;" title="Choose a Bike">
     <ui-select-match placeholder="bikes">{{$item.bikeSize}}</ui-select-match>
     <ui-select-choices repeat="bike.bikeSize as bike in test.testBikes">
       <div ng-bind-html="bike.bikeSize | highlight: $select.search"></div>
       <small>
         bikeCategory: {{bike.bikeSize}}
       </small>
     </ui-select-choices>
   </ui-select>
   <p>Selected: {{test.cycle4}}</p>
 </div>


 <div style="height:500px"></div>
