<div class="container searchContainer">

  <a href="http://connorpracticesite.com/"><img class="center-block img-responsive" src="public/assets/angryCatfishLogo.png" /></a>
  <div id="calenderSearchZone">
    <h4>Reservation Dates</h4>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt.start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-sm-4">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt.end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <!-- <div class="col-sm-2">
        <input type="button" class="btn" ng-click="viewRes.checkDates()" value="Update Dates" />
      </div> -->
    </div>
  </div>

  <form id="searchForm" class="form">

    <!-- NOTE to add select tags in search fields: add multiple to ui-select and replace $select.selected witd $item in ui-select match-->
      <!-- sample code from angular-ui tdat has not worked yet but may be used in place of unique filter  -->
      <!-- propsFilter: {bikeCategory: $select.search, bikeMake: $select.search, bikeModel: $select.search, bikeSize: $select.search} | -->

      <div class="input-group search">
        <!-- <label>Category</label> -->
        <ui-select class="" ng-model="viewRes.selected.bikeCategory" tdeme="bootstrap">
          <ui-select-match placeholder="Category">{{$select.selected.bikeCategory}}</ui-select-match>
          <ui-select-choices repeat="bike.bikeCategory as bike in viewRes.bikeList | filter: viewRes.selected.bikeMake | filter : viewRes.selected.bikeModel | filter : viewRes.selected.bikeSize | unique : 'bikeCategory'  ">
            <div ng-bind-html="bike.bikeCategory | highlight: viewRes.selected"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="input-group searchClear">
        <!-- <label>Clear</label> -->
        <button type="button" class="btn btn-sm btn-warning form-control" ng-click="viewRes.selected.bikeCategory = undefined; viewRes.sweetAlert()"><span class="fa fa-times"></span></button>
      </div>

     <div class="input-group search">
       <!-- <label>Make</label> -->
        <ui-select class="" ng-model="viewRes.selected.bikeMake" tdeme="bootstrap">
          <ui-select-match placeholder="Make">{{$select.selected.bikeMake}}</ui-select-match>
          <ui-select-choices repeat="bike.bikeMake as bike in viewRes.bikeList | filter: viewRes.selected.bikeCategory | filter : viewRes.selected.bikeModel | filter : viewRes.selected.bikeSize | unique : 'bikeMake' ">
            <div ng-bind-html="bike.bikeMake | highlight: $select.selected"></div>
          </ui-select-choices>
        </ui-select>
     </div>
     <div class="input-group searchClear">
       <!-- <label>Clear</label> -->
       <button type="button" class="btn btn-sm btn-warning form-control" ng-click="viewRes.selected.bikeMake = undefined; viewRes.sweetAlert()"><span class="fa fa-times"></span></button>
     </div>


     <div class="input-group search">
       <!-- <label>Model</label> -->
        <ui-select class="" ng-model="viewRes.selected.bikeModel" tdeme="bootstrap">
          <ui-select-match placeholder="Model">{{$select.selected.bikeModel}}</ui-select-match>
          <ui-select-choices repeat="bike.bikeModel as bike in viewRes.bikeList | filter: viewRes.selected.bikeCategory | filter : viewRes.selected.bikeMake | filter : viewRes.selected.bikeSize | unique : 'bikeModel' ">
            <div ng-bind-html="bike.bikeModel | highlight: $select.selected"></div>
          </ui-select-choices>
        </ui-select>
     </div>
     <div class="input-group searchClear">
       <!-- <label>Clear</label> -->
       <button type="button" class="btn btn-sm btn-warning form-control" ng-click="viewRes.selected.bikeModel = undefined; viewRes.sweetAlert()"><span class="fa fa-times"></span></button>
     </div>


     <div class="input-group search">
       <!-- <label>Size</label> -->
       <ui-select class="" ng-model="viewRes.selected.bikeSize" tdeme="bootstrap">
        <ui-select-match placeholder="Size">{{$select.selected.bikeSize}}</ui-select-match>
        <ui-select-choices repeat="bike.bikeSize as bike in viewRes.bikeList | filter: viewRes.selected.bikeCategory | filter : viewRes.selected.bikeMake | filter : viewRes.selected.bikeModel | unique : 'bikeSize' ">{{bike.bikeSize}}</ui-select-choices>
      </ui-select>
    </div>
    <div class="input-group searchClear">
      <!-- <label>Clear</label> -->
      <button type="button" class="btn btn-sm btn-warning form-control" ng-click="viewRes.selected.bikeSize = undefined; viewRes.sweetAlert()"><span class="fa fa-times"></span></button>
    </div>

    <div class="input-group search">
      <!-- <label>Search</label> -->
      <!-- <input type="text" ng-model="customPopupSelected" placeholder="Search" uib-typeahead="bike as bike.searchTags for bike in viewRes.bikeList | filter:{searchTags:$viewValue}" typeahead-popup-template-url="customPopupTemplate.html" class="form-control"> -->
      <input class="form-control" placeholder="Search" ng-model="viewRes.selected.searchTags" tdeme="bootstrap"></input>
    </div>

    <div class="input-group searchClear">
      <!-- <label>Clear</label> -->
      <button type="button" class="btn btn-sm btn-warning form-control" ng-click="viewRes.selected.searchTags = undefined; viewRes.sweetAlert()"><span class="fa fa-times"></span></button>
    </div>
    <div class="input-group searchClearAll">
      <!-- <label>Clear</label> -->
      <button type="button" class="btn btn-sm btn-warning form-control" ng-click="viewRes.selected = undefined; viewRes.sweetAlert()"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
    <!-- <span class="input-group-btn">
        <button type="button" ng-click="search.bikeCategory = undefined" class="btn btn-default">
        <span class="glyphicon glyphicon-trash"></span>
        </button>
    </span> -->

  </form>

  <hr>

  <div>Reservations Matching Filters: {{results.length}}</div>
  <ul>



    <!-- <li><a ng-click="openModalResPopup(res.transactionID)"> {{res.transactionID}}</a>  {{res.custName}}  {{res.custEmail}} <span ng-repeat="bike in res.bikeID">{{bike}}</span>  </li> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <!-- <th>Bike ID</th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="res in viewRes.resList | filter: viewRes.selected.searchTags | dateMatch:viewRes.dates | bikeMatch:viewRes.selected:viewRes.bikeList as results">
          <td><a ng-click="openModalResPopup(res.transactionID)">{{res.transactionID}}</a></td>
          <td>{{res.custName}}</td>
          <td>{{res.custEmail}}</td>
          <td><button ng-click="viewRes.deleteReservation(res._id)" class="delete">Delete</button></td>
        </tr>
      </tbody>
    </table>

        <!-- <div><img class="img-responsive" src={{cycle.imageUrls[0]}} alt="bike"/></div> -->
        <!-- <div><a ng-href="/bikeDetails/{{cycle._id}}"><img class="img-responsive" src={{cycle.imageUrls[0]}} alt="bike"/></a></div> -->
        <!-- <div>{{cycle.bikeMake}}  {{cycle.bikeModel}} <span>Availability:</span><span ng-show="viewRes.availability.indexOf(cycle._id)==-1">Available!</span><span ng-hide="viewRes.availability.indexOf(cycle._id)==-1">Unavailable!</span></div> -->
  <!-- </div> -->

      <!-- <input type="button" ng-click="openEditModalPopup(cycle._id)" value="Edit" /> -->
      <!-- <input type="button" ng-click="confirmDelete(cycle._id)" value="Delete" /> -->

      <!-- <input type="button" ng-click="openEditModalPopup(cycle._id)" value="Delete" /> -->
  </div>
  </ul>

<!-- <script type="text/ng-template" id="../../public/views/templates/bikeDetails.html">
  <div class="bikeModal">
    <div class="modal-header">
      <h3 class="modal-title">Bike Details</h3>
    </div>
    <div class="modal-body" id="" >

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</script> -->

  <!-- <script type="text/ng-template" id="bike">
      <div class="modal-header">
        <h3 class="modal-title">Bike Details</h3>
      </div>
      <div class="modal-body" id="" >
          <div class="" ng-repeat="cycle in viewRes.bikeList | filter: viewRes.selected">
            <div><img class="img-responsive" src={{cycle.imageUrls[0]}} alt="bike"/></div>
            <div>{{cycle.bikeMake}}  {{cycle.bikeModel}} <span>Availability</span></div>
            <a href="#" ng-click="$event.preventDefault(); viewRes.selected.cycle = cycle">{{ cycle.bikeMake }}</a>
          </div>
          <div><img class="img-responsive" src={{viewRes.selected.cycle.imageUrls[0]}} alt="bike"/></div>
          <div>{{viewRes.selected.cycle.bikeMake}}  {{viewRes.selected.cycle.bikeModel}} <span>Availability</span></div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
  </script> -->



</div>







<!-- Basic search form: not using angular-ui-select -->
<!-- <form id="searchForm" class="form">

  <h2>Bike Search</h2>

  <div class="form-group">

    <label>Category</label>
    <select class="form-control" ng-model="search.bikeCategory" >
      <option value="">All</option>
      <option ng-repeat="bike in viewRes.bikeList | unique : 'bikeCategory'" >{{bike.bikeCategory}}</option>
    </select>

  </div>

  <div class="form-group">
    <label>Make</label>
    <select class="form-control" ng-model="search.bikeMake" >
      <option value="">All</option>
      <option ng-repeat="bike in viewRes.bikeList | unique : 'bikeMake'" >{{bike.bikeMake}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Model</label>
    <select class="form-control" ng-model="search.bikeModel">
      <option value="">All</option>
      <option ng-repeat="bike in viewRes.bikeList | unique : 'bikeModel'" >{{bike.bikeModel}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Size</label>
    <select class="form-control" ng-model="search.bikeSize" >
      <option value="">All</option>
      <option ng-repeat="bike in viewRes.bikeList | unique : 'bikeSize'" >{{bike.bikeSize}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Date</label>
    <select class="form-control" ng-model="search.dates" >
      <option value="">All</option>
      <option ng-repeat="date in viewRes.resList | unique : 'dates'" >{{date.resDate}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Search</label>
    <input class="form-control" ng-model="search.searchTags" ></input>
  </div>

  <div class="form-group">
    <label>Clear</label>
    <button type="button" class="btn btn-sm btn-danger form-control" ng-click="search = undefined"><span class="glyphicon glyphicon-trash"></span></button>
  </div>
</form> -->
