<div class="container searchContainer">

  <div id="calenderSearchZone">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        Checkout Date:
        <p class="input-group" tooltip-placement="top" uib-tooltip="Choose the start date">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt.start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-disabled="viewRes.getTotalItems() > 0" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-sm-4">
        Checkin Date:
        <p class="input-group" tooltip-placement="top" uib-tooltip="Choose the end date">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt.end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="viewRes.getTotalItems() > 0" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <!-- <div class="col-sm-2">
        <input type="button" class="btn" ng-click="viewRes.checkDates()" value="Update Dates" />
      </div> -->
    </div>
  </div>

  <form id="searchForm" class="form">

    <div class="col-sm-2 col-sm-offset-1">
      <div class="input-group search">
        <ui-select ng-model="viewRes.selected.bikeCategory">
          <ui-select-match placeholder="Category">{{$select.selected.bikeCategory}}</ui-select-match>
          <ui-select-choices repeat="bike.bikeCategory as bike in viewRes.bikeList | filter: viewRes.selected.bikeMake | filter : viewRes.selected.bikeModel | filter : viewRes.selected.bikeSize | unique : 'bikeCategory'  ">
            <div ng-bind-html="bike.bikeCategory | highlight: viewRes.selected"></div>
          </ui-select-choices>
        </ui-select>
        <div class="input-group-btn searchClear">
          <button type="button" class="btn btn-sm btn-warning" ng-click="viewRes.selected.bikeCategory = undefined" tooltip-placement="bottom" uib-tooltip="Clear search field"><span class="fa fa-times"></span></button>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="input-group search">
         <ui-select class="" ng-model="viewRes.selected.bikeMake" theme="bootstrap">
           <ui-select-match placeholder="Brand">{{$select.selected.bikeMake}}</ui-select-match>
           <ui-select-choices repeat="bike.bikeMake as bike in viewRes.bikeList | filter: viewRes.selected.bikeCategory | filter : viewRes.selected.bikeModel | filter : viewRes.selected.bikeSize | unique : 'bikeMake' ">
             <div ng-bind-html="bike.bikeMake | highlight: $select.selected"></div>
           </ui-select-choices>
         </ui-select>
         <div class="input-group-btn searchClear">
           <button type="button" class="btn btn-sm btn-warning" ng-click="viewRes.selected.bikeMake = undefined" tooltip-placement="bottom" uib-tooltip="Clear search field"><span class="fa fa-times"></span></button>
        </div>
      </div>
    </div>


    <div class="col-sm-2">
      <div class="input-group search">
         <ui-select class="" ng-model="viewRes.selected.bikeModel" theme="bootstrap">
           <ui-select-match placeholder="Model">{{$select.selected.bikeModel}}</ui-select-match>
           <ui-select-choices repeat="bike.bikeModel as bike in viewRes.bikeList | filter: viewRes.selected.bikeCategory | filter : viewRes.selected.bikeMake | filter : viewRes.selected.bikeSize | unique : 'bikeModel' ">
             <div ng-bind-html="bike.bikeModel | highlight: $select.selected"></div>
           </ui-select-choices>
         </ui-select>
         <div class="input-group-btn searchClear">
           <button type="button" class="btn btn-sm btn-warning" ng-click="viewRes.selected.bikeModel = undefined" tooltip-placement="bottom" uib-tooltip="Clear search field"><span class="fa fa-times"></span></button>
         </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="input-group search">
        <ui-select class="" ng-model="viewRes.selected.bikeSize" theme="bootstrap">
         <ui-select-match placeholder="Size">{{$select.selected.bikeSize}}</ui-select-match>
         <ui-select-choices repeat="bike.bikeSize as bike in viewRes.bikeList | filter: viewRes.selected.bikeCategory | filter : viewRes.selected.bikeMake | filter : viewRes.selected.bikeModel | unique : 'bikeSize' ">{{bike.bikeSize}}</ui-select-choices>
       </ui-select>
       <div class="input-group-btn searchClear">
         <button type="button" class="btn btn-sm btn-warning" ng-click="viewRes.selected.bikeSize = undefined" tooltip-placement="bottom" uib-tooltip="Clear search field"><span class="fa fa-times"></span></button>
       </div>
     </div>
    </div>

    <div class="col-sm-2">
      <div class="input-group search">
        <input class="form-control" placeholder="Search" ng-model="viewRes.selected.searchTags" theme="bootstrap"></input>
        <div class="input-group-btn searchClear">
          <button type="button" class="btn btn-sm btn-warning" ng-click="viewRes.selected.searchTags = undefined" tooltip-placement="bottom" uib-tooltip="Clear search field"><span class="fa fa-times"></span></button>
        </div>
      </div>
    </div>
    <div class="col-sm-1" >
      <div class="input-group searchClearAll">
        <button type="button" class="btn btn-sm btn-warning" ng-click="viewRes.selected = undefined" tooltip-placement="bottom" uib-tooltip="Clear all search fields"><span class="glyphicon glyphicon-refresh"></span></button>
      </div>
    </div>

  </form>
</div>
  <hr>

  <div>Reservations Matching Filters: {{results.length}}</div>
    <!-- <li><a ng-click="openModalResPopup(res.transactionID)"> {{res.transactionID}}</a>  {{res.custName}}  {{res.custEmail}} <span ng-repeat="bike in res.bikeID">{{bike}}</span>  </li> -->
    <div class="reservationTable">
    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <!-- <th>Bike ID</th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="res in viewRes.resList | filter: viewRes.selected.searchTags | dateMatch:viewRes.dates | bikeMatch:viewRes.selected:viewRes.bikeList as results track by $index ">
          <td><a ng-click="openModalResPopup(res.transactionID)" tooltip-placement="right" uib-tooltip="Click for more details">{{res.transactionID}}</a></td>
          <td>{{res.custName}}</td>
          <td><a href="mailto:{{res.custEmail}}">{{res.custEmail}}</a></td>
          <td><button ng-click="viewRes.deleteReservation(res._id)" class="delete"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></td>
        </tr>
      </tbody>
    </table>
    </div>
        <!-- <div><img class="img-responsive" src={{cycle.imageUrls[0]}} alt="bike"/></div> -->
        <!-- <div><a ng-href="/bikeDetails/{{cycle._id}}"><img class="img-responsive" src={{cycle.imageUrls[0]}} alt="bike"/></a></div> -->
        <!-- <div>{{cycle.bikeMake}}  {{cycle.bikeModel}} <span>Availability:</span><span ng-show="viewRes.availability.indexOf(cycle._id)==-1">Available!</span><span ng-hide="viewRes.availability.indexOf(cycle._id)==-1">Unavailable!</span></div> -->
  <!-- </div> -->

      <!-- <input type="button" ng-click="openEditModalPopup(cycle._id)" value="Edit" /> -->
      <!-- <input type="button" ng-click="confirmDelete(cycle._id)" value="Delete" /> -->

      <!-- <input type="button" ng-click="openEditModalPopup(cycle._id)" value="Delete" /> -->
