<strong>
Angry Catfish Bicycle, LLC <br />
DEMO/RENTAL WAIVER AND RELEASE AGREEMENT
</strong>


THIS IS A RELEASE OF LIABILITY – PLEASE READY CAREFULLY BEFORE SIGNING

<p>
I, (either for myself and/or my minor child), desiring to rent or use as a demonstrator bicycle (the “Activity”) owned and
provided by Angry Catfish Bicycle, LLC (the “Company”), acknowledge that I am voluntarily participating in the Activity
entirely at my own risk being aware that this activity may include, but not be limited to the risk of falling; collision with
other bicycles, motor vehicles, or stationary objects; and variable conditions of trails, roads, or pavement. I acknowledge
that cycling is a hazardous activity involving inherent and other risks of personal injury or even death. I voluntarily and
knowingly accept and assume liability for these risks. Company has provided understandable and satisfactory answers to
all my questions regarding the use and function of the bicycle, including but not limited to, the pedal system(s), and quick
release mechanisms. I understand the proper operational use of the bicycle and agree to wear a bicycle helmet at all times
while riding the bicycle. I accept full responsibility for the care and proper use of the bicycle. I will discontinue using
the bicycle and return it to Company for inspection, repair, or adjustment if the bicycle is not properly functioning. I am
fully aware that these risks associated with the Activity may result in physical or psychological injury, pain, suffering,
illness, disfigurement, temporary or permanent disability, economic or emotional loss, and death caused either by my own
or others’ negligence or the conditions where the activity is performed. Being fully aware of these risks, I assume all
responsibility for my participation in this Activity and, for myself, my heirs, executors, administrators, assigns, and
personal representatives, knowingly and voluntarily enter into this waiver and release of liability of Company. This
waiver and release includes all rights, claims, or causes of action of any kind whatsoever arising out of my participation in
the Activity, and I hereby release and discharge Company, its employees, managers, members, agents, volunteers,
representatives, successors, and assigns for any injuries I may suffer as a direct result of my participation in the Activity.
</p>

<p>
I assume full responsibility for all risk or bodily injury, death, or property damage while participating in the Activity due
to the inherent risks associated with it or due to the ordinary negligence of Company in any way relating to the selection,
maintenance, adjustment, design, manufacture, and/or use of the bicycle and the Activity or resulting from other causes. I
agree to defend, indemnify, and hold harmless from and against any and all liability, damage, loss, claims, suits, or causes
of action whatsoever, including by not limited to attorney’s fees and related expenses arising out of litigation, should
litigation be commenced by me or anyone else on my behalf.
</p>

<p>
I acknowledge that I have carefully read this Demo/Rental Waiver and Release Agreement and that I fully understand that it
is a release of liability of Company, which makes no warranties, expressed or implied, with regard to the Activity or
bicycle which I accept in its “AS IS” condition. I understand and agree that the provisions of this Agreement are intended
to be as broad and inclusive as is permitted by the laws of Minnesota and that if any provision or portion thereof is held
invalid, the balance of this Agreement shall continue in full force and effect.
</p>
