.addBikeForm {
  padding: 20px;
  overflow: hidden;
}

#modalWarning {
  color: #F23F1E;
}

.bikeBulletDelete {
  margin-left: 20px;
}

.imageUpload {
  margin-top: 7px;
  text-wrap: normal;
}

.previewImage {
  height: 100px;
  width: auto;
}

/* Add bullet point button  */
body > div.modal.fade.ng-scope.ng-isolate-scope.in > div > div > form > div:nth-child(3) > div:nth-child(2) > div > div > button {
  margin-top: 25px;
  height: 32px;
  margin-left: 10px;
}
/* Add search tag button */
body > div.modal.fade.ng-scope.ng-isolate-scope.in > div > div > form > div:nth-child(3) > div.col-sm-5.col-sm-offset-1 > div > div > p {
  margin-top: 25px;
  height: 32px;
  margin-left: 10px;
}
/* Select Image Title and file select open */
body > div.modal.fade.ng-scope.ng-isolate-scope.in > div > div > form > div:nth-child(4) > div:nth-child(2) > div > label > span {
  cursor: pointer;
  margin-right: 30px;
}
body > div.modal.fade.ng-scope.ng-isolate-scope.in > div > div > form > div:nth-child(4) > div:nth-child(2) > div > label > span:hover {
  background-color: lightblue;
  padding: 10px;
}
/* Button : upload image */
body > div.modal.fade.ng-scope.ng-isolate-scope.in > div > div > form > div:nth-child(4) > div.col-sm-5 > div > div > button {
  margin-top: 25px;
  height: 32px;
  margin-left: 10px;
}

#bikePricingDropdown {
  height: 30px;
  margin-left: 10px;
  font-weight: 200px;
  max-width: 140px;
}

#addBikeModalFooter {
  margin: 5px 10px 0;
}
#addBikeModalFooter > div.btn.btn-primary {
  margin-left: 10px;
}
/* upload image file display */
body > div.modal.fade.ng-scope.ng-isolate-scope.in > div > div > form > div.row.addBikeBottomRow > div:nth-child(2) > div > label > span > img {

}
/*repeatList img {
  display: inline-block;
}*/
body > div.modal.fade.ng-scope.ng-isolate-scope.in > div > div > form > div > div > ul > li > i {
  padding: 0;
  margin-left: 5px;
}
