/* bike details modal */
.bikeModal .row {
  margin: 10px;
}

.modal-header {
  text-align: center;
  font-size: 1.4em;
}

/* bike display on search*/
.bikeBox {
  text-align: center;
  margin: 25px;
  padding: 10px;
  height: 240px;
  width: 300px;
  transition: all 1s ease;
  /*filter: opacity(60%);*/
  background-color: white;
}

.bikeBox:hover {
  transform:scale(1.1);
  filter: none;
  border: .5px solid #F23F1E;
}

.bikeBox a {
  text-decoration: none;
}

.bikeBox img {
  /*max-height: 200px;*/
  /*width: auto;*/
}

.previewImage {
  height: 100px;
  width: auto;
}
#available {
  color: #F23F1E;
}

#unavailable {
  color: #3F2D24;
}
