/* bike details modal */
.bikeModal .row {
  margin: 10px;
}

.modal-header {
  text-align: center;
  font-size: 1.4em;
}

#modalClose {
  background-color: #FFFCF7;
}

#bikeIcon {
  margin-left: 10px;
}



/* bike display on search*/
.bikeBox {
  text-align: center;
  margin: 25px;
  padding: 10px;
  height: 240px;
  width: 300px;
  transition: all 1s ease;
  background-color: white;
  position: relative;
}


.bikeBoxText {
  width: auto;
  height: auto;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bikeBox:hover {
  transform:scale(1.1);
  filter: none;
  border: .5px solid #F23F1E;
}

.bikeBox a {
  text-decoration: none;
}

.bikeBox img {
  /*max-height: 200px;*/
  /*width: auto;*/
}

.previewImage {
  height: 100px;
  width: auto;
}
#available {
  color: #F23F1E;
}

#unavailable {
  color: #3F2D24;
}
