/* bike details modal */
.bikeModal .row {
  margin: 10px;
}
.bikeModal {
  padding: 20px;
}
.modal-header {
  text-align: center;
  font-size: 1.4em;
}

#modalClose {
  background-color: #FFFCF7;
}

#bikeIcon {
  margin-left: 10px;
}

/*.rentPriceList li {
  display: inline;
}*/

.rentPriceList li {
  list-style: none;
  float: left;
  margin-left: 15px;
}

.rentPriceList li:before {
  content: '\ffed';
  margin-right: 0.5em;
}

.rentPriceList li:first-child:before {
  content: none;
}


/* bike display on search*/
.bikeBox {
  text-align: center;
  margin: 25px;
  padding: 10px;
  height: 240px;
  width: 300px;
  transition: all 1s ease;
  background-color: white;
  border: 2px solid brown;
  position: relative;
}

.bikeBoxText {
  width: auto;
  height: auto;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bikeBox:hover {
  transform:scale(1.1);
  filter: none;
  border: .5px solid #F23F1E;
}

.bikeBox a {
  text-decoration: none;
}

.bikeBox img {
  /*max-height: 200px;*/
  /*width: auto;*/
}

.addBikeBox {
  margin-right: 50px;
}
@media (max-width: 1200px)
{
    .addBikeBox
    {
        margin: 25px;
    }
}


.previewImage {
  height: 100px;
  width: auto;
}
#available {
  color: #F23F1E;
}

#unavailable {
  color: #3F2D24;
}

.addBikeForm {
  padding: 20px;
}
#modalWarning {
  color: #F23F1E;
}

.bikeBulletDelete {
  margin-left: 20px;
}
