#searchForm {
  text-align: center;
}

#searchForm .input-group{
  display: inline-block;
  width: 100px;
}

#searchForm .input-group-btn{
  /*display: inline;*/
}

#bikeDisplay {
  display: inline-block;
}

.bikeBox {
  text-align: center;
  margin: 25px;
  height: auto;
  width: auto;
  border: .1px solid gray;
  transition: all 1s ease;
  filter: opacity(60%);
}

.bikeBox:hover {
  transform:scale(1.1);
  filter: none;
}

.bikeBox a {
  text-decoration: none;
}

.bikeBox img {
  max-height: 200px;
  width: auto;
}
