body {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  background: url(/public/assets/bg-main-tile.jpg) center 0 repeat;
}


#acLogo {
  margin: 50px;
}

.reservationTable {
  background-color: #f78b78;
}

.mainHeader {
  text-align: right;
}

/* I commented this out because it removes all bullet points*/
/*ul {
  list-style-type: none;
}*/

#checkoutPage {
  padding-bottom: 100px;
  margin-bottom: 100px;
}
