body {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  background: url(/public/assets/bg-main-tile.jpg) center 0 repeat;
}

/* Main Page header and jumbotron*/

#acLogo {
  margin: 50px;
}

.homeContainer {
  overflow: visible;
}
.jumbotron {
  font-size: 1.1em;
  height: 400px !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  margin-bottom: 20px !important;
  /*background: url("/public/assets/jumbotronBikes.jpeg") no-repeat;
  background-position: bottom;*/
}
@media (max-width: 768px) {
    .jumbotron {
        height: auto !important;
        min-height: 200px !important;
        background-repeat: repeat !important;;
    }
}

#landingTextBlock {
  background-color: #E0EAF3;
  opacity: 0.85;
  max-width: 1000px;
  margin: 120px auto 0;
}
@media (max-width: 1200px) {
    #landingTextBlock  {
      margin: auto;
    }
}
#landingText {
  color: #3f2d24;
  opacity: 1;
  padding: 15px;
}

/* Admin Res View*/

.reservationTable {
  background-color: #f78b78;
}

.idButton{
  background-color: transparent;
  color: blue;
}

/* Admin Login */

.adminHeader {
  font-size: 2.0em;
  font-style: bold;
  text-align: center;
}

.adminBody {
  font-size: 1.5em;
  font-style: bold;
  text-align: center;
}
.googLogin {
  text-align: center;
  margin: 50px;
}
.adminImage{
  width: 100%;
  float: left;
  text-align: center;
}
.giphyEmbed{
  /*display: block;*/
  margin: 0 auto;
}

.error {
  color: red;
}

.mainHeader {
  text-align: right;
}

.adminHeader {
  list-style-type: none;
}

#checkoutPage\20 container > form {
  padding: 40px;
}

/*this block of code animates the header on the viewres screen*/
.resModal {
  background: url(/public/assets/bg-main-tile.jpg) center 0 repeat;
}

.resModal h2 {
  color: #F23F1E;
  -webkit-animation: floating-text 1s ease alternate infinite;
     -moz-animation: floating-text 1s ease alternate infinite;
      -ms-animation: floating-text 1s ease alternate infinite;
       -o-animation: floating-text 1s ease alternate infinite;
          animation: floating-text 1s ease alternate infinite;

}
@-webkit-keyframes floating-text {
  0% {
    -webkit-transform: translateY(.1em);
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .3em .2em blue;

  }
  100% {
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .5em .5em blue;
  }
}
@-moz-keyframes floating-text {
  0% {
    -moz-transform: translateY(.1em);
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .3em .2em blue;

  }
  100% {
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .5em .5em blue;
  }
}
@-ms-keyframes floating-text {
  0% {
    -ms-transform: translateY(.1em);
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .3em .2em blue;

  }
  100% {
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .5em .5em blue;
  }
}
@-o-keyframes floating-text {
  0% {
    -o-transform: translateY(.1em);
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .3em .2em blue;

  }
  100% {
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .5em .5em blue;
  }
}
@keyframes floating-text {
  0% {
    transform: translateY(.1em);
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .3em .2em blue;

  }
  100% {
    text-shadow:0 0 .5em black,
      0 0 .2em blue,
      0 .5em .5em blue;
  }
}

#resModalView {
  list-style-type: square;
  text-align: left;
  /*background: url(/public/assets/bg-main-tile.jpg) center 0 repeat;*/
}
mark {
  color: #F23F1E;
}
