body {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  background: url(/public/assets/bg-main-tile.jpg) center 0 repeat;
}


#acLogo {
  margin: 50px;
}

.error {
  color: red;
}
.reservationTable {
  background-color: #f78b78;
}

.mainHeader {
  text-align: right;
}
ul {
  list-style-type: none;
}
