.searchContainer {
  /*background-color: #F23F1E ;*/
  /*#F23F1E #3F2D24*/
}

#searchForm {
  text-align: center;
}

#searchForm .input-group {
  display: inline-block;
  width: 100px;
}

#searchForm .input-group.search {
  margin-left: 20px;
}

#searchForm .input-group.searchClear {
  width: 20px;
  margin-left: 0;
  padding: 0;
}

#searchForm .searchClear button{
  background-color: darkgray;
  outline: 0;
  padding: 0;
}

#searchForm .searchClearAll button{
  background-color: #F23F1E;
  outline: 0;
}

#bikeDisplay {
  display: inline-block;
}

.repeatList img {
  display: inline-block;

}
.trashIcon {
  height: 15px;
  width: 15px;
}

.bikeBox {
  text-align: center;
  margin: 25px;
  height: auto;
  width: auto;
  border: .5px solid #F23F1E;
  transition: all 1s ease;
  filter: opacity(60%);
  background-color: white;
}

.bikeBox:hover {
  transform:scale(1.1);
  filter: none;
}

.bikeBox a {
  text-decoration: none;
}

.bikeBox img {
  max-height: 200px;
  width: auto;
}
