.searchContainer {
  /*background-color: #F23F1E ;*/
  /*#F23F1E #3F2D24*/
}

#searchForm {
  margin-bottom: 100px;
}

.ui-select-match-text {
    overflow: auto;
    text-overflow: ellipsis;
    position: absolute;
}

#searchForm .searchClear button{
  height: 34px;
  width: 20px;
  background-color: lightgray;
  outline: 0;
  padding: 0;
}

#searchForm .searchClearAll button{
  height: 34px;
  background-color: #F23F1E;
  outline: 0;
}

.adminButtons {
  margin-left: 25px;
}

.glyphicon-plus {
  font-size: 15em;
  margin: 0 0 10px 25px;
}
